form {
  opacity: 1;
  align-self: center;
}

.questionSubmit {
  padding: 0.5rem;
  opacity: 1.5;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.questionInput {
  padding: 0.5rem;
  opacity: 1.5;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  margin-right: 0.5em;
}
