body {
  min-height: 100vh;
  text-align: center;
  background-color: #faebd7;
  min-width: 100vw;
}

.app {
  min-width: 100vw;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .app {
    overflow:hidden;
  }

  form {
    margin: 1em;
  }

  .questionInput {
    zoom: .6;
    margin-bottom: 0.6em;
  }

  .ball {
    height: 20rem;
    width: 20rem;
  }

  .ball--white {
    height: 10rem;
    width: 10rem;
  }

  .eight {
    font-size: 8rem;
  }

  .answer {
    font-size: 1.6rem;
  }

  .shadow {
    width: 250px;
    height: 30px;
  }

  .questionContainer {
    margin: none;
  }

  .questionContent {
    font-size: 0.6em;
  }


  }
  
  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width : 650px) {
    .app {
      overflow:hidden;
      min-height: 100vh;
    }
  
    .header {
      zoom: .6;
    }
  
    .ballContainer {
      position: absolute;
      top: 50px;
      left: 10px;
    }
  
    .ball {
      height: 18rem;
      width: 18rem;
    }
  
    .ball--white {
      height: 9.5rem;
      width: 9.5rem;
    }
  
    .eight {
      font-size: 7rem;
    }
  
    .answer {
      font-size: 1.3rem;
    }
  
    .shadow {
      width: 200px;
      height: 25px;
    }
  
    .questionContainer {
      margin: none;
      position: absolute;
      left: 1em;
      max-width: 30rem;
    }
  
    .questionContent {
      font-size: 0.5em;
    }
  }
    
  /* iPads (portrait and landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .app {
      overflow:hidden;
    }

    .header {
      zoom: 1;
    }

    .front {
      font-size: 1.7em;
    }

    .ballContainer {
      position:relative;
    }
  
    .ball {
      height: 30rem;
      width: 30rem;
    }
  
    .ball--white {
      height: 16rem;
      width: 16rem;
    }
  
    .eight {
      font-size: 10rem;
    }
  
    .answer {
      font-size: 1.8rem;
    }
  
    .shadow {
      width: 300px;
      height: 100px;
    }
  
    .questionContainer {
      position: relative;
      max-width: 30rem;
    }
  
    .questionContent {
      font-size: 0.8em;
    }
  }
  
  /* iPads (landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .questionContainer {
    position: absolute;
    min-width: 20rem;
  }

  .shadow {
    position: absolute;
    top: 30em;
    left: 25em;
  }

  }
  /* Desktops and laptops ----------- */
  @media only screen and (min-width : 1224px) {

  .header {
    zoom: 1;
  }
  .questionContainer {
    position: relative;
  }

  .ballContainer {
    position: relative;
  }

  .ball {
    height: 35rem;
    width: 35rem;
  }

  .ball--white {
    height: 18rem;
    width: 18rem;
  }

  .eight {
    font-size: 12rem;
  }

  .shadow {
    width: 400px;
    height: 50px;
  }

  .questionContainer {
    min-width: 40rem;
    text-align: center;
  }

  .questionContent {
    font-size: 2rem;
  }

  .answer {
    font-size: 2rem;
  }

  .front {
    font-size: 1.5em;
  }
  }
  
  /* Large screens ----------- */
  @media only screen and (min-width : 1824px) {
  /* Styles */
  }
  
  /* iPhone 4 ----------- */
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  }
  
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  }
  
  /* iPhone 5 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  /* iPhone 6 ----------- */
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  /* iPhone 6+ ----------- */
  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  /* Samsung Galaxy S3 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  /* Samsung Galaxy S4 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  /* Samsung Galaxy S5 ----------- */
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
