.header {
  background-image: url('https://tinyurl.com/2cnmau2m');
  opacity: 0.5;
  display: flex;
  justify-content: center;
  min-height: 10rem;
  min-width: 100vw;
}

@media only screen and (min-width: 360px) and (max-width: 740px){
  .header {
    display: flex;
    flex-direction: row;
  }
}
